html {
}	

body {
	background-color: rgb(255, 255, 240);
}

header {
	float: left;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;

	background-color: rgb(0, 191, 255);
	text-align: center;
}

nav {
	float: right;

	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;

	background-color: rgb(255, 180, 0);
}

nav ul {
}

nav ul li {
	float: left;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

	list-style-type:none;
}

nav ul li a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	text-decoration: none;
	background-color: rgb(255, 255, 0);
}

div.sayduck-3d-viewer-container {
	clear: both;
	max-width: 900px;
	margin: auto;
}

#t1 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;


	max-width: 850px;
	background-color: rgb(174, 255, 153);
}

#t2 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;

	max-width: 850px;
	background-color: rgb(120, 156, 255);
}

#t3 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: 0px;

	max-width: 850px;
	background-color: rgb(250, 255, 153);
}

#t4 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;

	max-width: 850px;
	background-color: rgb(250, 133, 165);
}
