html {
}	

body {
}

header {
	float: left;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;

	background-color: rgb(0, 191, 255);
}

nav {
	float: right;

	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;

	background-color: rgb(255, 180, 0);
}

nav ul {
}

nav ul li {
	float: left;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;

	list-style-type:none;
}

nav ul li a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;

	text-decoration: none;
	background-color: rgb(255, 255, 0);
}

div.sayduck-3d-viewer-container {
	clear:both;
	max-width: 700px;
	margin: auto;
}
